<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Animal Profile</title>
</head>
<body>
    <div class="wrapper pt-5">
        <div class="container">
            <div class="d-flex justify-content-between ">
                <a class="btn btn-secondary text-center" href="/" class="mt-4">Home</a>
                <h1>Welcome To Caden's Pet Clinic</h1>
                <a class="btn btn-secondary text-center" href="/new/animal" class="mt-4">New animal? sign them up here!</a>
            </div>
            <hr>
            <h1 class="pt-5">Welcome to {{one_animal.name}}'s profile</h1>
            <h4>Age: {{one_animal.age}} Years old</h4>
            <h4>Type: {{one_animal.type}}</h4>
            <h4>Owner: {{one_animal.owner.full_name()}}</h4>
            <h4>DR: {{one_animal.doctors.last_name}}</h4>
            <ul>
                {%for doctor in one_animal.doctors%}
                <li>Dr {{doctor.last_name}}</li>
                {%endfor%}
            </ul>
            <form action="/animals/{{one_animal.id}}/add_doctor" method="post">
                <label for="doctor_id">Doctor Name</label>
                <select name="doctor_id">
                {%for doctor in doctors%}
                    <option value="{{doctor.id}}">Dr. {{doctor.last_name}}</option>
                    {%endfor%}
                </select>
                <input type="submit" value="Add Doctor To Animal">
            </form>
        </div>
    </div>
</body>
</html>